%%% -*- mode: erlang -*-
{erl_opts,
 [
  debug_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import
 ]}.

{deps,
 []}.

{profiles,
 [ ]}.


{relx,
 [
  {release, {dspr, "1"},
         [
          dspr,
          runtime_tools,
          tools
         ]},
        {dev_mode, true},
        {include_erts, false},
        {vm_args, "files/vm.args"},
        {overlay, [
            {mkdir, "log/sasl"},
            {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
            {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
            {copy, "files/dspr", "bin/dspr"}
        ]},
        {extended_start_script, true}]}.
